// Mini CSS Overrides
[type="checkbox"].modal+div .card {
    // Increase the max height of a modal
    max-height: 80vh;
}

[type="checkbox"], [type="radio"] {
    height: calc(2rem + var(--universal-padding) / 2);
    width: calc(2rem + var(--universal-padding) / 2);
    flex-basis: calc(2rem + var(--universal-padding) / 2) !important;
}

[type="checkbox"]:checked:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}