// https://proto.io/freebies/onoff/
// Tweaked by Peter Eldred to be more SCSSy

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;

    &.alarm-switch {
        width: 120px;
    }
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
    padding: 0;

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;

        &:before, &:after {
            display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
            font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
            box-sizing: border-box;
        }
        &:before {
            content: "ON";
            padding-left: 10px;
            background-color: var(--color-warning); color: #FFFFFF;
            text-align: left;

            .alarm-switch & {
                content: "ARMED";
                background-color: var(--color-danger); color: #FFFFFF;
            }
        }
        &:after {
            content: "OFF";
            padding-right: 10px;
            background-color: transparent;
            text-align: right;

            .alarm-switch & {
                content: "SAFE";
                background-color: var(--color-success); color: #FFFFFF;
            }
        }
    }
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 

    .alarm-switch & {
        right: 86px;
    }
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}